{ns hl7-fhir-cl-corecl.BundleCl,
 import #{zen.fhir
          hl7-fhir-r4-core.Bundle
          hl7-fhir-r4-core.value-set.bundle-type},
 schema {:zen.fhir/version "0.6.32",
         :confirms #{zen.fhir/Resource hl7-fhir-r4-core.Bundle/schema},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "https://hl7chile.cl/fhir/ig/CoreCL/StructureDefinition/BundleCl",
         :require #{:identifier :entry :timestamp},
         :type zen/map,
         :zen/desc "Este Perfil describe como debe ser el recurso Bundle que permite transportar una serie de recursos de PRescripción para  conformar una receta",
         :keys {:identifier {:fhir/flags #{:MS},
                             :zen/desc "Identificador para el Bundle"},
                :type {:fhir/flags #{:MS},
                       :zen.fhir/value-set {:symbol hl7-fhir-r4-core.value-set.bundle-type/value-set,
                                            :strength :required},
                       :zen/desc "Document | message | transaction | transaction-response | batch | batch-response | history | searchset | collection, en nuestro caso se fuerza a collection"},
                :timestamp {:fhir/flags #{:MS},
                            :zen/desc "Hora en la cual cual fue ensamblado el Bundle en formato YYYY-MM-DDThh:mm:ss.sss+zz:zz"},
                :entry {:type zen/vector,
                        :every {:type zen/map,
                                :keys {:fullUrl {:fhir/flags #{:MS},
                                                 :zen/desc "URL absoluta del recurso a vincular"}},
                                :fhir/flags #{:MS},
                                :zen/desc "Se agregan los recursos que se desean adjuntar dentro del bundle en el elemento fullUrl"},
                        :minItems 1}},
         :zen.fhir/type "Bundle"}}
