{ns hl7-fhir-cl-corecl.CoreMedicamentoCl,
 import #{zen.fhir hl7-fhir-r4-core.Medication},
 schema {:zen.fhir/version "0.6.30-7",
         :confirms #{hl7-fhir-r4-core.Medication/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "https://hl7chile.cl/fhir/ig/CoreCL/StructureDefinition/CoreMedicamentoCl",
         :require #{:identifier},
         :type zen/map,
         :zen/desc "Este Perfil ha sido desarrollado para cubrir las necesidades del Caso de Uso de Receta Electrónica desde la visión del TFC que se usará para poder manejar farmacos ya registrados, y que deberán ser consultados por los prestadores a la hora de prescribir algno.",
         :keys {:identifier {:type zen/vector,
                             :slicing {:slices {}},
                             :every {:zen/desc "Slices definidos para la identificación del fármaco, ya sea por Descripción o por concepto"},
                             :minItems 2},
                :code {:type zen/map,
                       :keys {:coding {:type zen/vector,
                                       :every {:type zen/map,
                                               :keys {:system {:zen/desc "En principio el endPoint puede ser este, pero cada sistema localmente puede generar su TFC. ´http://minsal.cl/semantikos/description-id´"},
                                                      :code {:zen/desc "Código del farmaco desplegado por la TFC"},
                                                      :display {:zen/desc "descripción del farmaco entregada por la TFC"}}}},
                              :text {:zen/desc "Esto código define el fármaco que contiene el recurso. El código corresponde al determinado en la Termnología Frarmaceutica Chilena (TFC)"}},
                       :fhir/flags #{:MS}}},
         :zen.fhir/type "Medication"}}
