{ns hl7-fhir-cl-corecl.CorePrestadorCl,
 import #{zen.fhir
          hl7-fhir-cl-corecl.value-set.VSCodigosProvinciasCL
          hl7-fhir-cl-corecl.value-set.VSCodigosRegionesCL
          hl7-fhir-r4-core.Practitioner
          hl7-fhir-r4-core.humanname-mothers-family
          hl7-fhir-cl-corecl.value-set.VSCodigosComunaCL
          hl7-fhir-cl-corecl.value-set.CodPais},
 schema {:zen.fhir/version "0.6.30-13",
         :confirms #{hl7-fhir-r4-core.Practitioner/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "https://hl7chile.cl/fhir/ig/CoreCL/StructureDefinition/CorePrestadorCl",
         :require #{:birthDate :identifier :gender},
         :type zen/map,
         :zen/desc "Este Perfil fue creado para cubrir la descripción de un Prestador a nivel Nacional",
         :keys {:address {:type zen/vector,
                          :every {:type zen/map,
                                  :keys {:use {:fhir/flags #{:MS},
                                               :zen/desc "Definición del tipo de domicilio home | work | temp | old (requerido)"},
                                         :city {:fhir/flags #{:MS},
                                                :zen.fhir/value-set {:symbol hl7-fhir-cl-corecl.value-set.VSCodigosComunaCL/value-set,
                                                                     :strength :required},
                                                :zen/desc "Campo para Comuna de residencia"},
                                         :state {:fhir/flags #{:MS},
                                                 :zen.fhir/value-set {:symbol hl7-fhir-cl-corecl.value-set.VSCodigosRegionesCL/value-set,
                                                                      :strength :required},
                                                 :zen/desc "Campo para la Región"},
                                         :line {:type zen/vector,
                                                :every {:fhir/flags #{:MS},
                                                        :zen/desc "Calle o avenida, numero y casa o depto"}},
                                         :country {:fhir/flags #{:MS},
                                                   :zen.fhir/value-set {:symbol hl7-fhir-cl-corecl.value-set.CodPais/value-set,
                                                                        :strength :required},
                                                   :zen/desc "Campo para País de Residencia"},
                                         :district {:fhir/flags #{:MS},
                                                    :zen.fhir/value-set {:symbol hl7-fhir-cl-corecl.value-set.VSCodigosProvinciasCL/value-set,
                                                                         :strength :required},
                                                    :zen/desc "Campo para Provincia de Residencia"}},
                                  :require #{:use},
                                  :fhir/flags #{:MS},
                                  :zen/desc "Dirección del Prestador"}},
                :name {:type zen/vector,
                       :every {:type zen/map,
                               :keys {:use {:match "official",
                                            :zen/desc "Uso del nombre del prestador"},
                                      :family {:zen/desc "Primer Apellido"},
                                      :_family {:type zen/map,
                                                :keys {:mothers-family {:confirms #{hl7-fhir-r4-core.humanname-mothers-family/schema},
                                                                        :fhir/extensionUri "http://hl7.org/fhir/StructureDefinition/humanname-mothers-family"}}},
                                      :given {:type zen/vector,
                                              :minItems 1}},
                               :require #{:given :family},
                               :fhir/flags #{:MS}}},
                :birthDate {:fhir/flags #{:MS},
                            :zen/desc "Fecha de nacimiento del Paciente. El formato debe ser YYYY-MM-DD"},
                :active {:fhir/flags #{:MS}},
                :identifier {:type zen/vector,
                             :slicing {:slices {}},
                             :every {:fhir/flags #{:MS},
                                     :zen/desc "Id de los prestadores"},
                             :minItems 1,
                             :maxItems 2},
                :qualification {:type zen/vector,
                                :slicing {:slices {}},
                                :every {:fhir/flags #{:MS},
                                        :zen/desc "Certificados, títulos y/o Especialidad(es) obtenidas por el Prestador"}},
                :telecom {:type zen/vector,
                          :every {:type zen/map,
                                  :keys {:use {:zen/desc "Uso del contacto descrito, de debe utilizar ´phone´ y ´email´, en caso que agreguemos los dos datos."}},
                                  :fhir/flags #{:MS}}},
                :gender {:fhir/flags #{:MS},
                         :zen/desc "Sexo de nacimiento Registrado, male | female | other | unknown (requerido)"}},
         :zen.fhir/type "Practitioner"}}
