{ns hl7-fhir-cl-corecl.CoreLocalizacionCl,
 import #{zen.fhir
          hl7-fhir-cl-corecl.value-set.VSCodigosProvinciasCL
          hl7-terminology-r4.value-set.v3-ServiceDeliveryLocationRoleType
          hl7-fhir-cl-corecl.value-set.VSCodigosRegionesCL
          hl7-fhir-r4-core.value-set.contact-point-use
          hl7-fhir-r4-core.value-set.contact-point-system
          hl7-fhir-cl-corecl.value-set.VSCodigosComunaCL
          hl7-fhir-r4-core.Location
          hl7-fhir-r4-core.value-set.location-status
          hl7-fhir-cl-corecl.value-set.CodPais},
 schema {:zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen/desc "Este perfil determina la ubicación especifica para un evento, objeto o Infraestructura específica. Este perfil permite vinlcular la localización especifica con una organización o espacio físico específico",
         :zen.fhir/type "Location",
         :zen.fhir/profileUri "https://hl7chile.cl/fhir/ig/CoreCL/StructureDefinition/CoreLocalizacionCl",
         :zen.fhir/version "0.6.30-13",
         :confirms #{hl7-fhir-r4-core.Location/schema
                     zen.fhir/Resource},
         :type zen/map,
         :keys {:address {:type zen/map,
                          :keys {:use {:fhir/flags #{:MS}},
                                 :city {:fhir/flags #{:MS},
                                        :zen.fhir/value-set {:symbol hl7-fhir-cl-corecl.value-set.VSCodigosComunaCL/value-set,
                                                             :strength :required},
                                        :zen/desc "Campo para Comuna de residencia"},
                                 :state {:fhir/flags #{:MS},
                                         :zen.fhir/value-set {:symbol hl7-fhir-cl-corecl.value-set.VSCodigosRegionesCL/value-set,
                                                              :strength :required},
                                         :zen/desc "Campo para la Región"},
                                 :line {:type zen/vector,
                                        :every {:fhir/flags #{:MS},
                                                :zen/desc "Calle o avenida, numero y casa o depto"}},
                                 :country {:fhir/flags #{:MS},
                                           :zen.fhir/value-set {:symbol hl7-fhir-cl-corecl.value-set.CodPais/value-set,
                                                                :strength :required},
                                           :zen/desc "Campo para País de Residencia"},
                                 :district {:fhir/flags #{:MS},
                                            :zen.fhir/value-set {:symbol hl7-fhir-cl-corecl.value-set.VSCodigosProvinciasCL/value-set,
                                                                 :strength :required},
                                            :zen/desc "Campo para Provincia de Residencia"}},
                          :fhir/flags #{:MS},
                          :zen/desc "Dirección de la Localiación"},
                :managingOrganization {:type zen/map,
                                       :keys {:reference {:zen/desc "Orgaización de referencia."},
                                              :display {:zen/desc "Nombre de la organización de referencia."}},
                                       :fhir/flags #{:MS},
                                       :confirms #{zen.fhir/Reference},
                                       :zen.fhir/reference {:refers #{}},
                                       :zen/desc "Organización a la cual la ubicación pertenece, si es el caso. Esta relación se hace en base a una referencia a una Orgaización"},
                :name {:fhir/flags #{:MS},
                       :zen/desc "Nombre oficial de la localizacion"},
                :type {:type zen/vector,
                       :every {:type zen/map,
                               :keys {:coding {:type zen/vector,
                                               :every {:type zen/map,
                                                       :keys {:system {:zen.fhir/value-set {:symbol hl7-terminology-r4.value-set.v3-ServiceDeliveryLocationRoleType/value-set,
                                                                                            :strength :extensible},
                                                                       :zen/desc "Sistema de códigos bajo el cual se identifica el tipo o función de la localización"},
                                                              :code {:fhir/flags #{:MS},
                                                                     :zen/desc "Código del tipo"},
                                                              :display {:zen/desc "Glosa del código"}}}}},
                               :fhir/flags #{:MS},
                               :zen/desc "Tipo de la localización, según V3 Value SetServiceDeliveryLocationRoleType (Extensible)"}},
                :alias {:type zen/vector,
                        :every {:fhir/flags #{:MS},
                                :zen/desc "Nombre de fantasía de la localización"}},
                :status {:fhir/flags #{:MS},
                         :zen.fhir/value-set {:symbol hl7-fhir-r4-core.value-set.location-status/value-set,
                                              :strength :required}},
                :identifier {:type zen/vector,
                             :every {:type zen/map,
                                     :keys {:system {:fhir/flags #{:MS},
                                                     :zen/desc "URI  en donde se encuentran los VS de ubicaciones."},
                                            :value {:zen/desc "Número identificador"}},
                                     :fhir/flags #{:MS},
                                     :zen/desc "Corresponde a un numero de identificación de la locación indicada"}},
                :hoursOfOperation {:type zen/vector,
                                   :every {:fhir/flags #{:MS},
                                           :zen/desc "Horario de atención de la localizacion."}},
                :availabilityExceptions {:fhir/flags #{:MS},
                                         :zen/desc "Descripción de Excepciones de ubicación habilitada."},
                :position {:type zen/map,
                           :keys {:longitude {:fhir/flags #{:MS},
                                              :zen/desc "Longitud valor decimal en WGS84 datum (World Geodetic System 1984)"},
                                  :latitude {:fhir/flags #{:MS},
                                             :zen/desc "Latitud valor decimal en formato WGS84 datum (World Geodetic System 1984)"}},
                           :fhir/flags #{:MS},
                           :zen/desc "Geoposisionamiento del objeto, infraestructura o evento en longitud y latitud"},
                :telecom {:type zen/vector,
                          :every {:type zen/map,
                                  :keys {:system {:zen.fhir/value-set {:symbol hl7-fhir-r4-core.value-set.contact-point-system/value-set,
                                                                       :strength :required}},
                                         :value {:zen/desc "Dato del contato de la ubicación descrita"},
                                         :use {:zen.fhir/value-set {:symbol hl7-fhir-r4-core.value-set.contact-point-use/value-set,
                                                                    :strength :required},
                                               :zen/desc "home | work | temp | old | mobile"}},
                                  :fhir/flags #{:MS},
                                  :zen/desc "Detalles de contacto de la ubicación"}}}}}
