{ns hl7-fhir-cl-corecl.CoreEspecialidadCl,
 import #{zen.fhir
          hl7-fhir-r4-core.PractitionerRole
          hl7-fhir-cl-corecl.value-set.VSEspecialidadesDeisCL},
 schema {:zen.fhir/version "0.6.29-4",
         :confirms #{hl7-fhir-r4-core.PractitionerRole/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "https://hl7chile.cl/fhir/ig/CoreCL/StructureDefinition/CoreEspecialidadCl",
         :require #{:specialty :practitioner},
         :type zen/map,
         :zen/desc "Este Perfil ha sido desarrollado para cubrir las necesidades del Caso de Uso de Receta Electrónica. Sin embargo, se ha modelado con el fin de cubrir las necesidades nacionales de un Recurso de Especialidad Médica para la denominación de Prescriptor en Chile",
         :keys {:active {:match true},
                :period {:type zen/map,
                         :keys {:start {:zen/desc "Fecha y Hora del inicio de las funciones especificadas."},
                                :end {:zen/desc "Fecha y Hora del término de las funciones especificadas."}},
                         :zen/desc "El período durante el cual el profesional está autorizado a desempeñar estas funciones."},
                :practitioner {:type zen/map,
                               :keys {:reference {:fhir/flags #{:MS},
                                                  :zen/desc "Referencia al uri del recurso Practitioner del prestador en cuestión"},
                                      :display {:zen/desc "Nombre del prestador de salud"}},
                               :fhir/flags #{:MS},
                               :confirms #{zen.fhir/Reference},
                               :zen.fhir/reference {:refers #{}},
                               :zen/desc "Referencia al Prestador  especialidad"},
                :organization {:type zen/map,
                               :keys {:reference {:fhir/flags #{:MS},
                                                  :zen/desc "Referencia al uri del recurso organization del prestador en cuestión"},
                                      :display {:zen/desc "Nombre de la organización de salud"}},
                               :fhir/flags #{:MS},
                               :confirms #{zen.fhir/Reference},
                               :zen.fhir/reference {:refers #{}},
                               :zen/desc "Referencia a la organización donde el presador cumple roles"},
                :specialty {:type zen/vector,
                            :every {:type zen/map,
                                    :keys {:coding {:type zen/vector,
                                                    :every {:type zen/map,
                                                            :keys {:code {:zen.fhir/value-set {:symbol hl7-fhir-cl-corecl.value-set.VSEspecialidadesDeisCL/value-set,
                                                                                               :strength :required}}}}}},
                                    :fhir/flags #{:MS},
                                    :zen/desc "Definición de la especialidad médica según DEIS"},
                            :minItems 1},
                :location {:type zen/vector,
                           :every {:type zen/map,
                                   :keys {:reference {:fhir/flags #{:MS},
                                                      :zen/desc "Referencia al uri del recurso location del prestador en cuestión"},
                                          :display {:zen/desc "Nombre de la ubicación"}},
                                   :fhir/flags #{:MS},
                                   :confirms #{zen.fhir/Reference},
                                   :zen.fhir/reference {:refers #{}},
                                   :zen/desc "Referencia a la ubicación donde el presador cumple roles"},
                           :maxItems 1}},
         :zen.fhir/type "PractitionerRole"}}
