{ns hl7-fhir-cl-corecl.CoreOrganizacionCl,
 import #{zen.fhir
          hl7-fhir-cl-corecl.value-set.VSCodigosProvinciasCL
          hl7-fhir-r4-core.value-set.contactentity-type
          hl7-fhir-cl-corecl.value-set.VSCodigosRegionesCL
          hl7-fhir-r4-core.value-set.contact-point-use
          hl7-fhir-r4-core.value-set.contact-point-system
          hl7-fhir-cl-corecl.value-set.VSCodigosComunaCL
          hl7-fhir-cl-corecl.value-set.CodPais
          hl7-fhir-r4-core.Organization},
 schema {:zen.fhir/version "0.6.30-7",
         :confirms #{hl7-fhir-r4-core.Organization/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "https://hl7chile.cl/fhir/ig/CoreCL/StructureDefinition/CoreOrganizacionCl",
         :require #{:identifier},
         :type zen/map,
         :zen/desc "Este Perfil ha sido desarrollado para cubrir las necesidades del Caso de Uso de Receta Electrónica. Sin embargo, se ha modelado para también cubrir las necesidades nacionales de un Recurso de Organzación en Salud",
         :keys {:address {:type zen/vector,
                          :every {:type zen/map,
                                  :keys {:use {:fhir/flags #{:MS}},
                                         :city {:fhir/flags #{:MS},
                                                :zen.fhir/value-set {:symbol hl7-fhir-cl-corecl.value-set.VSCodigosComunaCL/value-set,
                                                                     :strength :required},
                                                :zen/desc "Campo para Comuna de residencia"},
                                         :state {:fhir/flags #{:MS},
                                                 :zen.fhir/value-set {:symbol hl7-fhir-cl-corecl.value-set.VSCodigosRegionesCL/value-set,
                                                                      :strength :required},
                                                 :zen/desc "Campo para la Región"},
                                         :line {:type zen/vector,
                                                :every {:fhir/flags #{:MS},
                                                        :zen/desc "Calle o avenida, numero y casa o depto"}},
                                         :country {:fhir/flags #{:MS},
                                                   :zen.fhir/value-set {:symbol hl7-fhir-cl-corecl.value-set.CodPais/value-set,
                                                                        :strength :required},
                                                   :zen/desc "Campo para País de Residencia"},
                                         :district {:fhir/flags #{:MS},
                                                    :zen.fhir/value-set {:symbol hl7-fhir-cl-corecl.value-set.VSCodigosProvinciasCL/value-set,
                                                                         :strength :required},
                                                    :zen/desc "Campo para Provincia de Residencia"}},
                                  :fhir/flags #{:MS},
                                  :zen/desc "Dirección de la Organización"}},
                :name {:fhir/flags #{:MS},
                       :zen/desc "Nombre Legal de la Organizacion"},
                :alias {:type zen/vector,
                        :every {:fhir/flags #{:MS},
                                :zen/desc "Nombre de Fantasía"}},
                :active {:zen/desc "Estado de si es una Organización Validada o no (true|false)"},
                :identifier {:type zen/vector,
                             :every {:type zen/map,
                                     :keys {:system {:fhir/flags #{:MS},
                                                     :zen/desc "indicador del sistema de indentificación usado pora determinar el valor del identificador"},
                                            :value {:fhir/flags #{:MS}}},
                                     :fhir/flags #{:MS},
                                     :zen/desc "Identificador de organizacion de salud (DEIS, RUT, Códigos para cietos tipos de Recintos, etc.)"},
                             :minItems 1},
                :telecom {:type zen/vector,
                          :every {:type zen/map,
                                  :keys {:system {:zen/desc "phone | fax | email | pager | url | sms | other  ContactPointSystem (Required)"}},
                                  :fhir/flags #{:MS},
                                  :zen/desc "Contactos de la organización"}},
                :contact {:type zen/vector,
                          :every {:type zen/map,
                                  :keys {:purpose {:fhir/flags #{:MS},
                                                   :zen.fhir/value-set {:symbol hl7-fhir-r4-core.value-set.contactentity-type/value-set,
                                                                        :strength :extensible},
                                                   :zen/desc "El tipo de contacto"},
                                         :name {:fhir/flags #{:MS},
                                                :zen/desc "Nombre asociado al contacto"},
                                         :telecom {:type zen/vector,
                                                   :every {:type zen/map,
                                                           :keys {:system {:zen.fhir/value-set {:symbol hl7-fhir-r4-core.value-set.contact-point-system/value-set,
                                                                                                :strength :required}},
                                                                  :value {:zen/desc "Dato del contato del paciente descrito"},
                                                                  :use {:zen.fhir/value-set {:symbol hl7-fhir-r4-core.value-set.contact-point-use/value-set,
                                                                                             :strength :required},
                                                                        :zen/desc "home | work | temp | old | mobile"}},
                                                           :fhir/flags #{:MS},
                                                           :zen/desc "Detalles de contacto de la Organización"}}},
                                  :fhir/flags #{:MS},
                                  :zen/desc "Contacto de la Organización para ciertos propósitos"}}},
         :zen.fhir/type "Organization"}}
