{ns hl7-fhir-cl-corecl,
 import #{zen.fhir hl7-fhir-r4-core hl7-terminology-r4},
 extensions {:zen/tags #{zen.fhir/extensions},
             :schemas {"https://hl7chile.cl/fhir/ig/CoreCL/StructureDefinition/CodigoPaises" #zen/quote hl7-fhir-cl-corecl.CodigoPaises/schema}},
 ig {:zen/tags #{zen.fhir/ig},
     :profiles profiles,
     :extensions extensions,
     :value-sets value-sets},
 profiles {:zen/tags #{zen.fhir/profiles},
           :schemas {"PractitionerRole" {"https://hl7chile.cl/fhir/ig/CoreCL/StructureDefinition/CoreEspecialidadCl" #zen/quote hl7-fhir-cl-corecl.CoreEspecialidadCl/schema},
                     "Location" {"https://hl7chile.cl/fhir/ig/CoreCL/StructureDefinition/CoreLocalizacionCl" #zen/quote hl7-fhir-cl-corecl.CoreLocalizacionCl/schema},
                     "Practitioner" {"https://hl7chile.cl/fhir/ig/CoreCL/StructureDefinition/CorePrestadorCl" #zen/quote hl7-fhir-cl-corecl.CorePrestadorCl/schema},
                     "Medication" {"https://hl7chile.cl/fhir/ig/CoreCL/StructureDefinition/CoreMedicamentoCl" #zen/quote hl7-fhir-cl-corecl.CoreMedicamentoCl/schema},
                     "Patient" {"https://hl7chile.cl/fhir/ig/CoreCL/StructureDefinition/CorePacienteCl" #zen/quote hl7-fhir-cl-corecl.CorePacienteCl/schema},
                     "Organization" {"https://hl7chile.cl/fhir/ig/CoreCL/StructureDefinition/CoreOrganizacionCl" #zen/quote hl7-fhir-cl-corecl.CoreOrganizacionCl/schema},
                     "Bundle" {"https://hl7chile.cl/fhir/ig/CoreCL/StructureDefinition/BundleCl" #zen/quote hl7-fhir-cl-corecl.BundleCl/schema}}},
 value-sets {:zen/tags #{zen.fhir/value-sets},
             :value-sets {"https://hl7chile.cl/fhir/ig/CoreCL/ValueSet/VSTiposDocumentos" #zen/quote hl7-fhir-cl-corecl.value-set.VSTiposDocumentos/value-set,
                          "https://hl7chile.cl/fhir/ig/CoreCL/ValueSet/VSCodigosComunaCL" #zen/quote hl7-fhir-cl-corecl.value-set.VSCodigosComunaCL/value-set,
                          "https://hl7chile.cl/fhir/ig/CoreCL/ValueSet/VSCodigosRegionesCL" #zen/quote hl7-fhir-cl-corecl.value-set.VSCodigosRegionesCL/value-set,
                          "https://hl7chile.cl/fhir/ig/CoreCL/ValueSet/CodPais" #zen/quote hl7-fhir-cl-corecl.value-set.CodPais/value-set,
                          "https://hl7chile.cl/fhir/ig/CoreCL/ValueSet/VSCodigosProvinciasCL" #zen/quote hl7-fhir-cl-corecl.value-set.VSCodigosProvinciasCL/value-set,
                          "https://hl7chile.cl/fhir/ig/CoreCL/ValueSet/VSEspecialidadesDeisCL" #zen/quote hl7-fhir-cl-corecl.value-set.VSEspecialidadesDeisCL/value-set}}}
