{ns hl7-fhir-cl-corecl.value-set.CodPais,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Codigos definidos para la identificación de países segun norma ISO3166-N",
            :zen.fhir/version "0.6.30-14",
            :fhir/code-systems #{{:fhir/url "urn:iso:std:iso:3166",
                                  :zen.fhir/content :not-present}},
            :uri "https://hl7chile.cl/fhir/ig/CoreCL/ValueSet/CodPais",
            :version "1.0.0",
            :ftr {:module "hl7-fhir-cl-corecl",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
