{ns hl7-fhir-cl-corecl.value-set.VSCodigosProvinciasCL,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Códigos de Provincias para Chile según Códigos Únicos Territoriales Actualizados, por Decreto exento No 817 del Ministerio del Interior",
            :zen.fhir/version "0.6.29-22",
            :fhir/code-systems #{{:fhir/url "https://hl7chile.cl/fhir/ig/CoreCL/CodeSystem/CSCodProvinciasCL",
                                  :zen.fhir/content :bundled}},
            :uri "https://hl7chile.cl/fhir/ig/CoreCL/ValueSet/VSCodigosProvinciasCL",
            :version "1.0.0",
            :ftr {:module "hl7-fhir-cl-corecl",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
